<div class="container">
    <a class="site-menu-leftentry" href="index.html">Home</a>
    <nav class="site-nav">
        <div class="dropdown">
            <a class="page-link" href="cfp.html"><span>Calls</span></a>
            <div class="dropdown-content">
                <a href="cfp.html">Call for Papers</a>
                <a href="workshops.html">Call for Workshops</a>
                <a href="posters.html">Call for Posters</a>
                <!-- <a href="tpc.html">TPC</a> -->
            </div>
        </div>
        <a class="page-link" href="venue.html"><span>Venue</span></a>
        <a class="page-link" href="organization.html"><span>Organization</span></a>
        <a class="page-link" href="http://jianying.space/acns/" target="_blank"><span>Previous Events</span></a>
    </nav>
</div>

<!--
    <div class="container">
      <a class="site-menu-leftentry" href="index.html">Home</a>
      <nav class="site-nav">
        <ul class="nav">
          <li class="dropdown">
            <a href="#">Calls ▾</a>
            <ul class="dropdown-menu">
              <li><a href="cfp.html">Call for Papers</a></li>
              <li><a href="cfr.html">Call for Reviewers</a></li>
              <li><a href="cfs.html">Call for Sponsors</a></li>
            </ul>
          </li>
          <li><a class="page-link" href="venue.html"><span>Venue</span></a></li>
          <li><a class="page-link" href="organization.html"><span>Organization</span></a></li>
          <li><a class="page-link" href="http://jianying.space/acns/" target="_blank"><span>Previous Events</span></a></li>
        </ul>
      </nav>
    </div>
-->